<div class="contact">

  <div id="map">
    <img src ='https://i.imgur.com/Tbv9OIq.png'>
  </div>


  <div id="info">
    <h3>Address</h3>
      <p>12345 Memorial Parkway</p>
      <p>Houston, TX 71839</p>
    <h3>Hours of Operation</h3>
      <p>Monday - Thursday: 10am - 11pm</p>
      <p>Friday & Saturday: 10am - 12am</p>
      <p>Sunday: 12pm - 9pm</p>
    <h3>Phone Number</h3>
      <p>832.147.6857</p>

  </div>


</div>
