
<div id="apps">
  <h2 id="menu_title">a p p e t i z e r s</h2>
  <% @items.each do |item| %>
    <br>
    <article>
        <h4><strong id="food_name"><p><%= item.name %></p></strong></h4>
        <p><%= item.amount %></p>
        <p><%= item.description %></p>
        <p><%= item.cost %></p>
    </article>
  <% end %>
</div>


<!-- HOW TO DISPLAY BY CATEGORY I.E. APPETIZER AND STUFF
@items.category = "appetizer" -->
