<div>

  <h2>A P P E T I Z E R</h2>

    <h4>Satay Chicken</h4>
      <p>6 Pcs</p>
      <p>Traditional grilled and marinated chicken, served with peanut sauce and cucumber salad.</p>
        <p class="price">7.50</p>
    <h4>Golden Shrimp</h4>
      <p>7 Pcs</p>
      <p>Crispy, deep-fried stuffed shrimp spring roll, served with sweet and sour sauce.</p>
        <p class="price">7.50</p>
    <h4>Egg Rolls</h4>
      <p>8 Pcs</p>
      <p>Marinated mixed vegetables wrapped into a crispy spring roll, served with sweet and sour sauce.</p>
        <p class="price">5.95</p>
    <h4>Fried Tofu</h4>
      <p>2 Pcs</p>
      <p>Deep-fried soft tofu, served with sweet and sour sauce and topped with ground peanuts.</p>
        <p class="price">5.95</p>
    <h4>Fish Cake</h4>
      <p>8 Pcs</p>
      <p>Deep-fried fish paste seasoned with Thai spices, served with sweet and sour sauce topped with ground peanuts.</p>
        <p class="price">7.50</p>
    <h4>Eastern Thai Style Sausages</h4>
      <p>Northeastern-style pork sausage served with cabbage, shallots, lime, chili, ginger, and peanuts.</p>
        <p class="price">6.50</p>
    <h4>Cream Cheese Rangoon</h4>
      <p>6 Pcs</p>
      <p>Crisp wonton wrapper filled with soft cream cheese and green onions, served with a side of sweet and sour sauce.</p>
        <p class="price">5.95</p>
    <h4>Fried Gyoza</h4>
      <p>8 Pcs</p>
      <p>Deep-fried seasoned pot stickers, seasame vinegar soysauce.</p>
        <p class="price">5.95</p>
    <h4>Fried Wonton</h4>
      <p>12 Pcs</p>
      <p>Marinated ground chicken wrapped in wonton skins, served with sweet and sour sauce.</p>
        <p class="price">5.95</p>
    <h4>Fried Calamari</h4>
      <p>Lightly battered, deep-fried calamari, served with sweet and sour sauce.</p>
        <p class="price">7.50</p>
    <h4>Thai Style Pork Jerky</h4>
      <p>Deep-fried, marinated pork jerky, served with traditional sauce; recommeded with sticky rice.</p>
        <p class="price">7.50</p>

</div>

