<div>
<h2>a p p e t i z e r s</h2>

    <ol>
        <% @items.each do |item| %>
            <li><%= item.name %></li>
            <li><%= item.amount %></li>
            <li><%= item.description %></li>
            <li><%= item.cost %></li>
        <% end %>
    </ol>
</div>
