// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orders {
  text-align: center;
  padding: 10px 80px;
  margin: 10px 180px;
  background: rgba(204, 204, 204, 0.8);
}





