// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#apps {
  text-align: center;
  padding: 10px 60px;
  margin: 10px 120px;
}

#food_name {
  text-align: center;
}

#nav_bar {
  text-align: center;
}



