// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('mortar.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
#contact,
#menu,
#about              //Frosted Glass Effect
 {
  text-align: center;
  padding: 10px 50px;
  margin: 10px 180px;
  background-color: white;
  background: rgba(204, 204, 204, 0.8);
  min-width: 260px;
  margin-top: 70px;
}

.food_text {          //Text-Alignment
  color: black;
  min-width: 260px;
  text-align: center;
}

body#home_page {
  background-image: url('nara.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

body#about_page {
  background-image: url('spices.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

body#menu_page {
  background-image: url('onion.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

body#contact_page {
  background-image: url('springroll.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

#mint {
  font-size: 150px;
  color: white;
  padding-top: 70px;
}

.contact {
  color: black;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 20px;
}



#map {
  float: left;
  border: 2px solid black;
}

#info {
  float: right;
  background-color: white;
  padding: 15px 10px;
  border: 2px solid black;
}

#sign_in {
  padding-top: 50px;
  padding-left: 45px;
}

.pictures {
  display: inline block;
  max-width: 250px;
  margin: 0px 15px;
  border: 2px solid black;
}

.so {
  width: 780px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}










