// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('onion.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

#menu,
#about,                //Frosted Glass Effect
#home {
  text-align: center;
  padding: 10px 50px;
  margin: 10px 180px;
  background-color: white;
  background: rgba(204, 204, 204, 0.8);
  min-width: 260px;
}

.food_text {          //Text-Alignment
  color: black;
  min-width: 260px;
  text-align: center;
}

body#home_page {
  background-image: url('salmon.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

body#about_page {
  background-image: url('spices.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
